<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rabbit_Web_browser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F94546FC1F3867F300CCAA31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F94547101F3867F300CCAA31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F945471B1F3867F300CCAA31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
